@import "bootstrap";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px 0;
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.lead {
  font-size: 24px;
  line-height: 1.25;
}

.navbar {
  li {
    a.active {
      color: white;
    }
  }
}

.nav {
  li {
    a.active {
      color: white;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      background-color: #0088cc;
    }
  }
}

.unstyled {
  li {
    overflow: auto;
  }
}

.list-striped {
  li:nth-child(even) {
  }
  li:nth-child(odd) {
    background-color: #f9f9f9;
  }
  li {
    padding: 5px;
    border-bottom: 1px solid #000000;
  }
  li:last-of-type {
    border-bottom: 0px;
  }
}

// Nav headers (for dropdowns and lists)
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  text-transform: uppercase;
}
// Space them out when they follow another list item (link)
.nav li + .nav-header {
  margin-top: 9px;
}

// NAV LIST
// --------

.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left:  -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #428bca;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  background-color: #428bca;
}
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}
