<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Leandro App</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

<body ng-app="FirstApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav nav-pills">
            <li class="active"><a href='/'>Leandro App</a></li>
            <li><a href='/countries'>Countries</a></li>
            <li><a href='/about'>About</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
          <div ng-view></div>
      </div>

      <hr>

      <footer>
        <p>&copy; Leandro App 2014</p>
      </footer>

    </div>
  </script>

</body>
</html>
